pip
setuptools
wheel
affine==2.4.0
asttokens==3.0.0
attrs==25.1.0
bcrypt==4.2.1
blessings==1.7
blinker==1.9.0
bqplot==0.12.44
branca==0.8.1
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
decorator==5.1.1
earthengine-api==1.5.1
ee==0.2
eerepr==0.1.0
exceptiongroup==1.2.2
executing==2.2.0
Flask==3.1.0
Flask-Cors==5.0.0
folium==0.19.4
fonttools==4.56.0
future==1.0.0
GDAL==3.10.1
geemap==0.35.1
geocoder==1.38.1
geopandas==1.0.1
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0rc1
httplib2==0.22.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.18.1
ipytree==0.2.2
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
narwhals==1.25.2
numpy 
packaging==24.2
pandas==2.2.3
paramiko==3.5.1
parso==0.8.4
pillow==11.1.0
plotly==6.0.0
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.19.1
PyNaCl==1.5.0
pyogrio==0.10.0
pyparsing==3.2.1
pyperclip==1.9.0
pyproj==3.6.1
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.1
rasterio==1.4.3
ratelim==0.1.6
requests==2.32.3
rsa==4.9
scooby==0.10.0
shapely==2.0.7
simplekml==1.3.6
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.13
windows-curses==2.4.1
xyzservices==2025.1.0
zipp==3.21.0
