



{% block content %}
    <div class="paddingContainer">
        <div class="voiceContainer">
            <div class="mic">
                <i class="mic-icon">
                        
                </i>
                <!--
                <div class="mic-shadow"></div>
                -->
                
            </div>
            <div class="googleVoice">
                <div class="rect blur"></div>
                <div class="rect"></div>
              </div>
        </div>
        
    </div>
{% endblock %}
