{% block content %}
<div class="form-container">
    <h1>SHOW DIWALI KML</h1>
    <div class="buttons">
        <button id="show-diwali">Show KML
            <animated-icons
                src="https://animatedicons.co/get-icon?name=Activate&style=minimalistic&token=bef79568-d828-4e67-a904-60a1bb446375"
                trigger="loop-on-hover"></animated-icons>
        </button>
        <button id="clear-diwali">CLEAR KML
            <animated-icons
                src="https://animatedicons.co/get-icon?name=Reset&style=minimalistic&token=b950e4c7-cd92-452b-84de-a44bd37d8c11"
                trigger="loop-on-hover"></animated-icons>
        </button>
    </div>
</div>
{% endblock %}